{% extends 'base.html' %}
{% block content %}
<h2>{{ page_title }}</h2>
<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                
                    <h2 class="post-title">
                        Vacant Positions:
                    </h2>
                    <h3 class="post-subtitle">
                        Burglar required.</h3>
                        <p>
                            Terms: One thirteen share of treasure. No guarantee of survival. Experience with dragons preferred. Funeral costs will be covered by The Company.</p>
                    
                
                <p class="post-meta">Posted by
                    <a href="#">Thorin Oakenshield</p>
            </div>
   
        </div>
    </div>

{% endblock %}